body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.general {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px;
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.practical {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px;
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px;
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn {
  display: flex;
  gap: 30px;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-bottom: 15px;
  width: 100%;
}

input[type='text'] {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

button {
  font-size: 16px;
  background-color: #4a90e2;
  color: #ffffff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #3c7bd4;
}

input[type='submit'] {
  font-size: 16px;
  background-color: #4a90e2;
  color: #ffffff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.editPractical {
  font-size: 16px;
  background-color: #4a90e2;
  color: #ffffff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 22px;
  width: 5rem;
  height: 2rem;
}

.editEducation {
  font-size: 16px;
  background-color: #4a90e2;
  color: #ffffff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 22px;
  width: 5rem;
  height: 2rem;
}

.editGeneral {
  font-size: 16px;
  background-color: #4a90e2;
  color: #ffffff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 22px;
  width: 5rem;
  height: 2rem;
}

input[type='submit']:hover {
  background-color: #3c7bd4;
}